.home-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: row;
    background-color: #f5f5f5;

    .home-slidebar {
        height: 100vh;
        width: 18vw;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 8px 0;
        box-sizing: border-box;

        .home-slidebar__header {
            width: 50%;
            padding: 8px;
            box-sizing: border-box;

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }

        .home-slidebar__tabs {
            display: flex;
            flex-direction: column;
            align-items: start;
            height: 60vh;
            gap: 8px;

            .slidebar-item {
                width: 150%;
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #f0f0f0;
                }

                &.active {
                    background-color: #f0f0f0;
                    color: #007bff;

                    .icon {
                        color: #007bff;
                    }
                }

                .icon {
                    margin-right: 8px;
                    font-size: 1.2em;
                }

                .name {
                    margin: 0;
                    font-size: 1.1em;
                }
            }

            .expand-slidebar-item {
                width: 100%;
                &:hover {
                    background-color: #f0f0f0;
                }
                .header {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;

                    &.active {
                        background-color: #f0f0f0;
                        color: #007bff;

                        .icon {
                            color: #007bff;
                        }
                    }

                    .icon {
                        margin-right: 8px;
                    }

                    .name {
                        margin: 0;
                        font-size: 1.1em;
                        font-weight: bold;
                    }

                    .toggle-icon {
                        margin-left: auto;
                        padding: 5px;
                        transition: transform 0.3s;
                    }
                }

                .content {
                    background-color: #f9f9f9;
                    padding: 10px;
                    border-radius: 5px;
                    margin-top: 5px;

                    .add-category {
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
                        cursor: pointer;

                        .add-icon {
                            font-size: 1.3em;
                            margin-right: 25px;
                        }

                        span {
                            font-size: 1.1em;
                        }
                    }

                    .category-item-containner {
                        height: 20px;
                        margin: 5px 0 5px 10px;
                        display: flex;
                        align-items: center;
                        background: #f5f5f5;
                        padding: 5px 15px;
                        max-width: 100%; // giới hạn chiều rộng tối đa để tránh tràn
                        border-radius: 4px;

                        &:hover {
                            background: #ffdada;
                            cursor: pointer;
                        }

                        .category-item-containner__color {
                            height: 14px;
                            width: 14px;
                            border-radius: 4px;
                        }

                        .category-item-containner__content {
                            font-size: 18px;
                            color: #777;
                            margin-left: 8px;
                            font-weight: 400;
                        }

                        .category-item-container__options {
                            margin-left: auto;
                        }
                    }
                }

                .add-new {
                    display: flex;
                    align-items: center;
                    margin-top: 10px;

                    .color-picker input {
                        width: 30px;
                        height: 30px;
                        border: none;
                        margin-right: 10px;
                        border-radius: 10px;
                    }

                    .name-input input {
                        padding: 5px;
                        font-size: 0.9em;
                        border: 1px solid #ddd;
                        border-radius: 5px;
                        margin-right: 10px;
                    }

                    .submit-icon {
                        cursor: pointer;
                        font-size: 1.2em;
                        color: green;
                        transition: color 0.3s;

                        &:hover {
                            color: darkgreen;
                        }
                    }

                    .submit-icon.disabled {
                        color: gray;
                        opacity: 0.5;
                        pointer-events: none;
                    }
                }
            }
        }

        .home-slidebar__footer {
            width: 100%;
            padding: 8px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 8px;
            
            .text {
                font-size: 1.1em;
                color: #777;
            }

            .logout-item {
                width: 100%;
                display: flex;
                align-items: center;
                padding: 10px;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;

                &:hover {
                    background-color: #f0f0f0;
                }

                .icon {
                    margin-right: 8px;
                    font-size: 1.2em;
                }

                .name {
                    margin: 0;
                    font-size: 1.1em;
                }
            }
        }
    }
    .home-content {
        height: 100vh;
        width: 82vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        padding: 0 16px;
        overflow-y: scroll;

        .home-header {
            font-size: 40px;
            font-weight: 400;
            color: #555;
            margin: 16px;
        }

        .home-filterBar {
            height: 20px;
            width: 70vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 16px 0 12px 0;

            .home-filterBar__title {
                font-size: 24px;
                color: #555;
                cursor: pointer;
            }

            .home-filterBar__filterField {
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;

                > div {
                    margin: 0 4px; // Add spacing between filter tags
                }

                .filter-tag {
                    width: 80px;
                    height: 24px;
                    border-radius: 8px;
                    border: 1px solid #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 2px;
                    padding: 14px 0;

                    &:hover {
                        cursor: pointer;
                        background: #eee;
                    }

                    &.active {
                        background: white;
                        border: 0;
                        box-shadow: 0 1px 2px #ccc;
                    }

                    .filter-tag-name {
                        font-size: 16px;
                        color: #ccc;

                        &.active {
                            color: #333;
                        }
                    }
                }
                .icon {
                    height: 27px;
                    margin: 0 8px;
                }
            }
        }

        .home-task {
            width: 100%;
            .task-card {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                // padding: 12px;
                border: 1px solid #ccc;
                border-radius: 8px;
                background-color: #fff;
                margin-bottom: 12px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

                .task-card__checkbox-container {
                    cursor: pointer;
                }

                .task-card__checkbox {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 1px solid #ccc;
                    border-radius: 50%;
                    margin-left: 30px;

                    .task-card__checkbox--done {
                        background-color: #7f56da;
                    }

                    .task-card__checkbox-inner {
                        width: 20px;
                        height: 20px;
                        background: #7f56da;
                        border-radius: 50%;
                    }
                }

                .task-card__content {
                    flex-grow: 1;
                    margin-left: 12px;

                    .task-card__title {
                        margin: 0 0 4px;
                        font-size: 18px;
                        padding-top: 8px;
                        padding-bottom: 3px;

                        &.task-card__title--done {
                            color: #aaa;
                            text-decoration: line-through;
                        }
                    }

                    .task-card__details {
                        display: flex;
                        // align-items: center;
                        flex-direction: column;
                        align-items: start;

                        .task-card__description-box {
                            border: 1px solid #ddd;
                            padding: 8px;
                            width: 100%;
                            margin-bottom: 8px;
                            background-color: #f9f9f9;
                            border-radius: 4px;
                            position: relative;

                            .task-card__description {
                                font-size: 14px;
                                color: #555;
                                margin: 0;
                                transition: all 0.3s ease;

                                &.task-card__description--done {
                                    filter: blur(1px);
                                    opacity: 1;
                                    pointer-events: none;

                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        background-color: rgba(255, 255, 255, 0.8);
                                        border-radius: 4px;
                                        z-index: 1;
                                    }
                                }
                            }

                            .task-card__done-label {
                                position: absolute;
                                top: 50%;
                                right: 16px;
                                transform: translateY(-50%);
                                font-size: 12px;
                                font-weight: bold;
                                color: #28a745;
                                background: #e9ffe6;
                                padding: 2px 6px;
                                border-radius: 12px;
                                box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
                                z-index: 2;
                            }
                        }

                        .task-card__info {
                            display: flex;
                            align-items: center;
                            gap: 8px;
                            padding-bottom: 4px;
                            .task-card__color-indicator {
                                width: 16px;
                                height: 16px;
                                border-radius: 20px;
                                margin-right: 10px;
                            }

                            .task-card__list-name {
                                font-size: 16px;
                                color: #888;
                                margin: 0;
                            }
                        }
                    }
                }

                .task-card__actions {
                    display: flex;
                    align-items: center;

                    .task-card__edit-icon,
                    .task-card__delete-icon {
                        cursor: pointer;
                        margin: 10px;
                        padding: 10px;
                    }
                }
            }

            .add-task {
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #6c757d;
                border-radius: 8px;
                height: 50px;
                width: 100%;
                transition: background 0.3s;
                cursor: pointer;

                &:hover {
                    background: #f0f0f0;
                }

                .add-task__icon {
                    font-size: 24px;
                    color: #6c757d;
                    margin-right: 8px;
                }

                .add-task__text {
                    font-size: 1.25rem;
                    color: #6c757d;
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
    }
}
